<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <div class="mb-3">
            <label class="form-label " for="title">Title:</label>
            <input type="text" id="title" class="form-control" name="listing[title]" value="<%= listing.title %>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description:</label><br>
            <textarea id="description" class="form-control" name="listing[description]" rows="2" cols="10" ><%= listing.description %></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="imageUrl">Image URL:</label>
            <input type="text" id="imageUrl" class="form-control" name="listing[image]" value="<%= listing.image %>">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label" for="price">Price:</label>
                <input type="number" id="price" class="form-control" name="listing[price]" value="<%= listing.price %>">
            </div>
            <div class="mb-3 col-md-8">
                <label class="form-label" for="country" >Country:</label>
                <input type="text" id="country" class="form-control" name="listing[country]" value="<%= listing.country %>">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location:</label>
            <input type="text" id="location" class="form-control" name="listing[location]" value="<%= listing.location %>">
        </div>

        
        <button class="btn btn-dark edit-btn mt-3 mb-3" type="submit">Edit</button>
    </form>
    </div>
</div>  